.part {
    background: #ffffff;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 10px;
}
.item{
    padding: 22px 15px
}

.part1{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-origin: padding-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    color: black;
    margin-top: 24px;
    margin-bottom: 24px;
}